doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario 
            h1 Inicia sesión en UpTask             
            
            if locals.mensajes 
                .alertas 
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error 
                
            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion") 
                .campo 
                    label(for="email") Correo electrónico: 
                    input(type="email" name="email" placeholder="Tu correo electrónico" value= email)
                .campo 
                    label(for="password") Contraseña: 
                    input(type="password" name="password" placeholder="Tu contraseña" value= password)
                .campo.enviar 
                    input.boton(type="submit" value="Iniciar sesión")
                .campo.acciones 
                    a(href="/crear-cuenta") ¿Aún no tienes cuenta? Crea una gratis          
                    a(href="reestablecer") ¿Olvidaste tu contraseña?