doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nombrePagina 
            p Coloca tu nueva    contrase単a

            //- if locals.mensajes 
            //-     .alertas 
            //-         each categoria in Object.keys(locals.mensajes)
            //-             each error in mensajes[categoria]
            //-                 .alerta(class=`${categoria}`)
            //-                     p= error 
                                
            form.caja-login(method="POST")
                .campo
                    label(for="password") Contrase単a: 
                    input(type="password" name="password" placeholder="Tu nueva contrase単a")
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer tu contrase単a")
                