doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        h2 Reestablecer contraseña 
        p Hola, solicitaste reestablecer tu contraseña. Hace click en el siguiente enlace para realizarlo. El enlace es temporal, en caso de vencer, solicitalo nuevamente
        a(href=`${resetUrl}`) Ir a resetear la contraseña
        p Si no podés acceder a este enlace, visita #{resetUrl}
        p Si no solicitaste este correo, podés ignorarlo